name: Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GOPATH: /gopath

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GOPATH
        run: |
          sudo mkdir -p /gopath
          sudo chmod 777 /gopath

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: false

      - name: Restore cache
        uses: actions/cache/restore@v5
        with:
          path: |
            /gopath
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Tidy
        run: |
          go mod tidy

      - name: Always save cache
        if: always()
        uses: actions/cache/save@v5
        with:
          path: |
            /gopath
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
