name: Execute

on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Command to execute'
        required: true
        type: string

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: true

      - name: Execute
        run: |
          ${{ github.event.inputs.command }}
