name: Execute

on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Command to execute'
        required: true
        type: string

env:
  GOPATH: /gopath

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GOPATH
        run: |
          mkdir -p /gopath

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: false

      - name: Restore cache
        uses: actions/cache/restore@v5
        with:
          path: |
            /gopath
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Execute
        run: |
          ${{ github.event.inputs.command }}
