name: Generate

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

env:
  GOPATH: /gopath

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 4096
          swap-size-mb: 1024
          build-mount-path: /gopath
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: false

      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: |
            /gopath
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Exclude
        run: scripts/exclude.sh

      - name: Generate
        run: scripts/generate.sh

      - name: Pseudo
        run: scripts/pseudo.sh

      - name: Tidy
        run: |
          sudo rm -rf /gopath/*
          go mod tidy

      - name: Commit
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add --all
          if git diff --quiet HEAD; then
            echo "No changes"
            exit 0
          fi
          git commit -m 'chore: exclude and generate automatically'
          git push
