name: Generate

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: true

      - name: Exclude
        run: scripts/exclude.sh

      - name: Generate
        run: scripts/generate.sh

      - name: Pseudo
        run: scripts/pseudo.sh

      - name: Tidy
        run: |
          sudo rm -rf $(go env GOPATH)/*
          go mod tidy

      - name: Commit
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add --all
          if git diff --quiet HEAD; then
            echo "No changes"
            exit 0
          fi
          git commit -m 'chore: exclude and generate automatically'
          git push
